@import '../../assets/style.scss';


.SignUp {
    display: flex;
}

.from-SignUp {
    width: 65%;
    height: 100vh;
    padding: 5vh 5rem 0vh 13rem;
}

.title-signup {
    font-size: 1.9rem;
    margin-bottom: 2vh;
}


.backgroud-image p {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 28vh 8.8rem 2vh;
    font-weight: 900;
}

input#basic_Email {
    border-radius: $border-radisus;
    height: 6.7vh;
    background-color: $primary-color-input;
}


input#basic_Confirm\ password {
    border-radius: $border-radisus;
    height: 5vh;
    background-color: $primary-color-input;
}

.backgroud-image p b {
    margin-left: 1rem;
    color: $primary-color-button;
}

.ant-row.ant-form-item-row.css-dev-only-do-not-override-ph9edi {
    display: revert;
}

.link-SignIn {
    margin-left: 5rem;
}


/* Mobie */
@media only screen and (max-width: 600px) {
    .backgroud-image {
        display: none;
    }

    .from-SignUp {
        width: 100%;
        padding: 1rem;
        margin-left: 8rem;
    }


    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
        height: 10vh;
    }

    .link-SignUp {
        margin-left: 2rem;
    }

}


@media only screen and (min-width: 600px) and (max-width: 768) {
    .backgroud-image {
        display: none;
    }

    .from-SignUp {
        width: 100%;
        padding: 16vh 0;
        margin-left: 13rem;
    }

    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
    }
}

/* talet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .backgroud-image {
        display: none;
    }

    .from-SignUp {
        width: 100%;
        padding: 16vh 0;
        margin-left: 13rem;
    }

    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
    }
}

/* pc */
@media only screen and (min-width: 1024px) {
    .backgroud-image {
        display: block;
    }

    .link-SignIn {}
}