@import '../../assets/style.scss';


.ForgotPassword {
    display: flex;
}

.from-Forgot {
    width: 65%;
    height: 100vh;
    padding: 20vh 3rem 5vh 13rem;
}

.title-forgot {
    font-size: 2rem;
    margin-bottom: 8vh;
}

input#basic_Email {
    background-color: $primary-color-input;
    border-radius: $border-radisus;
    height: 6vh;
}

.link-SignUp{
    margin-left: 9rem;
}

.backgroud-image p {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 28vh 6.8rem 5vh;
    font-weight: 900;
}

.ant-row.ant-form-item-row.css-dev-only-do-not-override-ph9edi {
    display: revert;
}








@media only screen and (max-width: 600px) {
    .backgroud-image {
        display: none;
    }

    .from-Forgot {
        width: 100%;
        padding: 1rem;
        margin-left: 8rem;
    }


    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
        height: 10vh;
    }

    .link-SignUp {
        margin-left: 2rem;
    }

}


@media only screen and (min-width: 600px) and (max-width: 768) {
    .backgroud-image {
        display: none;
    }

    .from-Forgot {
        width: 100%;
        padding: 16vh 0;
        margin-left: 13rem;
    }

    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
    }
}

/* talet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .backgroud-image {
        display: none;
    }

    .from-Forgot {
        width: 100%;
        padding: 16vh 0;
        margin-left: 16rem;
    }

    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
    }
}

/* pc */
@media only screen and (min-width: 1024px) {
    .backgroud-image {
        display: block;
    }

    button.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary {
        max-width: 100%;
    }

    .link-SignIn {}
}